section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title {
    color: var(--secondary-color);
  }

  .categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
